[
  {
    "name": "LAB-TPE-CORE-01",
    "ip": "simulator-1",
    "port": 2222,
    "username": "switch",
    "password": "switch123",
    "device_type": "cisco_ios",
    "collect_commands": [
      { "key": "version", "command": "show version" },
      { "key": "cpu", "command": "show processes cpu" },
      { "key": "memory", "command": "show memory statistics" },
      { "key": "interfaces", "command": "show interfaces status" },
      { "key": "vlan", "command": "show vlan brief" },
      { "key": "interfaces_summary", "command": "show interfaces summary" },
      { "key": "inventory", "command": "show inventory" }
    ]
  },
  {
    "name": "LAB-TPE-ACC-01",
    "ip": "simulator-2",
    "port": 2223,
    "username": "switch",
    "password": "switch123",
    "device_type": "cisco_ios",
    "collect_commands": [
      { "key": "version", "command": "show version" },
      { "key": "cpu", "command": "show processes cpu" },
      { "key": "memory", "command": "show memory statistics" },
      { "key": "interfaces", "command": "show interfaces status" },
      { "key": "vlan", "command": "show vlan brief" },
      { "key": "interfaces_summary", "command": "show interfaces summary" },
      { "key": "inventory", "command": "show inventory" }
    ]
  }
]
